<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/signup.css' />
</head>
<body>
    
  <div class="signup-container">
    <div class="heart">
      <svg width="80" height="80" viewBox="0 0 24 24">
        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 
                 2 6 4 4 6.5 4c1.74 0 3.41 1.01 4.22 2.09C11.59 
                 5.01 13.26 4 15 4c2.5 0 4.5 2 4.5 4.5 
                 0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
      </svg>
    </div>
    <h2>Sign Up</h2>
    <p>Create your account to find your perfect match!</p>
    <form action="profile" method="post">
      <input type="text" placeholder="Full Name" required>
      <input type="email" placeholder="Email Address" required>
      <input type="password" placeholder="Password" required>
      <button type="submit">CREATE ACCOUNT</button>
    </form>
    
    <div class="login-text">
      Already have an account?
      <a href="login">Login</a>
    </div>
    
    <div class="bottom-line-loader" id="signupLoader"></div>
    <script src="signup.js"></script>
    
</body>
</html>